body
{
    background-image: url(./background.jpg);
}
#b
{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    margin: 15px;
    border-radius: 40px 40px 0px 0px ;

}
.image
{
   position: relative; 
}
#a
{
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 60px;
}
#c{
    position: absolute;
    top: 50%; /* Position the text at the vertical center */
     /* Position the text at the horizontal center */
    transform: translate(-50%, -50%);
    color: black; /* Set the text color */
    font-size: 24px; /* Set the font size */
    padding: 10px; /* Add some padding around the text */
    border-radius: 5px; /* Add a border radius */
    margin: 100px;
}
#d{
    margin-bottom: 100px;
    margin-right: 70px;
    
}

